vti_encoding:SR|utf8-nl
vinavbar:VW|c:\\\\Programme\\\\Gemeinsame\\ Dateien\\\\Microsoft\\ Shared\\\\Web\\ Server\\ Extensions\\\\40\\\\bots\\\\vinavbar\\\\vinavbar.inf vinavbar E I info N c:\\\\Programme\\\\Gemeinsame\\ Dateien\\\\Microsoft\\ Shared\\\\Web\\ Server\\ Extensions\\\\40\\\\bots\\\\vinavbar\\\\fp4Avnb.dll
